@import url(variables-index.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/********************************************************************/
/*------------------------- Body -----------------------------------*/
body{

}
/********************************************************************/
/*------------------------- header ---------------------------------*/
header{
    
}
.div__header{

}
/*------------------------- div__menuSup ---------------------------*/
.div__menuSup{

}
.div__menuSup img{
    
}
/*------------------------- div__titleSup --------------------------*/
.div__titleSup{

}
.div__titleSup h1{
  
}
#Find{
    font-family: "Inter-SemiBold";
    font-size: 30px;
    color: var(--color-2); 
}
#Trending{
    font-family: "Inter-SemiBold";
    font-size: 30px;
    color: var(--color-10);  
}
/*--------------------------- div__Seeker --------------------------*/
.div__Seeker{

}
.div__titleSup img{
    
}
.div__titleSup input{
    
}
.div__titleSup input::placeholder{
    font-family: "Inter-Regular";
    font-size: 12px;
    color: var(--color-2); 
}
/*--------------------------- div__filter --------------------------*/
.div__filter{

}
.div__filter a{
    font-family: "Inter-Regular";
    font-size: 12px;
    color: var(--color-2); 
}
/********************************************************************/
/*--------------------------- Main ---------------------------------*/
main{
    
}
/********************************************************************/
/*--------------------- section__TrendingEvents --------------------*/
.section__TrendingEvents{
    
}
/*---------------------- div__titleTren ----------------------------*/
.div__titleTren{
    
}
.div__titleTren h3{
    font-family: "Inter-SemiBold";
    font-size: 12px;
    color: var(--color-1); 
}
.div__titleTren a{
    font-family: "Inter-Regular";
    font-size: 12px;
    color: var(--color-7); 
}
/*---------------------- div__eventRoulette ------------------------*/
.div__eventRoulette{
    
}
/*--------------------------- div__boxEvent ------------------------*/
.div__boxEvent{
    
}
#Rectangle1{

}
/*--------------------------- div__eventInfo -----------------------*/
.div__eventInfo{
    
}
/*------------------------- div__basicInfoEvent --------------------*/
.div__basicInfoEvent{
    
}
.div__basicInfoEvent h3{
    font-family: "Inter-SemiBold";
    font-size: 12px;
    color: var(--color-1);    
}
/*------------------------- div__locationInfoEvent -----------------*/
.div__locationInfoEvent{
    
}
.div__locationInfoEvent img{
    
}
.div__locationInfoEvent p{
    font-family: "Inter-Regular";
    font-size: 12px;
    color: var(--color-1); 
}
/*------------------------- div__dateInfoEvent ---------------------*/
.div__dateInfoEvent{
    
}
.div__dateInfoEvent img{
    
}
.div__dateInfoEvent p{
    font-family: "Inter-Regular";
    font-size: 12px;
    color: var(--color-1); 
}
/*----------------------- div__priceInfoEvent ----------------------*/
.div__priceInfoEvent{

}
.div__priceInfoEvent span{
    font-family: "Inter-Regular";
    font-size: 10px;
    color: var(--color-1); 
}
.div__priceInfoEvent h3{
    font-family: "Inter-SemiBold";
    font-size: 16px;
    color: var(--color-1); 
}
/********************************************************************/
/*--------------------- section__EventsNearYou ---------------------*/
.section__EventsNearYou{
    
}
/*------------------------- div__titleEvents -----------------------*/
.div__titleEvents{
    
}
.div__titleEvents h3{
    font-family: "Inter-SemiBold";
    font-size: 14px;
    color: var(--color-2); 
}
.div__titleEvents a{
    font-family: "Inter-Regular";
    font-size: 12px;
    color: var(--color-7); 
}
/*------------------------- div__NearYouRoulette -------------------*/
.div__NearYouRoulette{
    
}
/*-------------------------- div__boxNearYou -----------------------*/
.div__boxNearYou{
    
}
.div__boxNearYou img{
    
}
/*-------------------------- div__NearYouInfo ----------------------*/
.div__NearYouInfo{
    
}
.div__NearYouInfo h3{
    font-family: "Inter-SemiBold";
    font-size: 10px;
    color: var(--color-2); 
}
/*---------------------- div__locationInfoNearYou ------------------*/
.div__locationInfoNearYou{
    
}
.div__locationInfoNearYou img{
    
}
.div__locationInfoNearYou p{
    font-family: "Inter-Regular";
    font-size: 10px;
    color: var(--color-2); 
}
/*------------------------ div__dateInfoNearYou --------------------*/
.div__dateInfoNearYou{
    
}
.div__dateInfoNearYou img{
    
}
.div__dateInfoNearYou p{
    font-family: "Inter-Regular";
    font-size: 10px;
    color: var(--color-2); 
}
/*----------------------- div__priceInfoNearYou --------------------*/
.div__priceInfoNearYou{
    
}
.div__priceInfoNearYou h3{
    font-family: "Inter-SemiBold";
    font-size: 12px;
    color: var(--color-3); 
}