@import url(../css/variables-Detail.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/********************************************************************/
/*------------------------- Body -----------------------------------*/
body{
}
/********************************************************************/
/*------------------------- header ---------------------------------*/
header{

}
/********************************************************************/
/*--------------------------- Main ---------------------------------*/
main{

}
/********************************************************************/
/*------------------------ section__infoSup ------------------------*/
.section__infoSup{

}
/*--------------------------- div__imgSup --------------------------*/
.div__imgSup{

}
.div__imgSup img{
    
}
.div__imgSup a{
    
}
/*------------------------ div__eventInfo --------------------------*/
.div__eventInfo{

}
.div__eventInfo h3{
    
}
/*------------------------ div__location ---------------------------*/
.div__location{

}
.div__location img{
    
}
.div__location p{
    
}
/*--------------------------- div__date ----------------------------*/
.div__date{

}
.div__date img{
    
}
.div__date p{
    
}
/*----------------------- div__Participants -------------------------*/
.div__Participants{

}
.div__Participants span{
    
}
/*------------------------- div__perfiles ---------------------------*/
.div__perfiles{

}
.div__perfiles img{
    
}
/********************************************************************/
/*-------------------- section__DescriptionMid ---------------------*/
.section__DescriptionMid{

}
/*------------------------- div__descripcion -----------------------*/
.div__descripcion{

}
.div__descripcion span{
    
}
.div__descripcion p{
    
}
/********************************************************************/
/*-------------------- section__VenueLocation ----------------------*/
.section__VenueLocation{

}
/*---------------------- div__VenueLocation ------------------------*/
.div__VenueLocation{

}
.div__VenueLocation span{

}
.div__VenueLocation img{

}
/********************************************************************/
/*-------------------- section__BuyTicket --------------------------*/
.section__BuyTicket{

}
/*------------------------ div__BuyTicket --------------------------*/
.div__BuyTicket{

}
.div__BuyTicket a{

}
/*------------------------ div__BuyTicket --------------------------*/
.div__Startfrom{

}
.div__Startfrom span{

}
.div__Startfrom p{

}