@import url(../css/variables-Detail.css);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/********************************************************************/
/*------------------------- Body -----------------------------------*/
body{
}
/********************************************************************/
/*------------------------- header ---------------------------------*/
header{

}
/********************************************************************/
/*--------------------------- Main ---------------------------------*/
main{

}
/********************************************************************/
/*------------------------ section__infoSup ------------------------*/
.section__infoSup{

}
/*--------------------------- div__imgSup --------------------------*/
.div__imgSup{

}
.div__imgSup img{
    
}
.div__imgSup a{
}
/*------------------------ div__eventInfo --------------------------*/
.div__eventInfo{

}
.div__eventInfo h3{
    font-family: "Inter-SemiBold";
    font-size: 14px;
    color: var(--color-1); 
}
.div__eventInfo a{
    color: var(--color-4); 
}
/*------------------------ div__location ---------------------------*/
.div__location{

}
.div__location img{
    
}
.div__location p{
    font-family: "Inter-Regular";
    font-size: 12px;
    color: var(--color-1); 
}
/*--------------------------- div__date ----------------------------*/
.div__date{

}
.div__date img{
    
}
.div__date p{
    font-family: "Inter-Regular";
    font-size: 12px;
    color: var(--color-1); 
}
/*----------------------- div__Participants -------------------------*/
.div__Participants{

}
.div__Participants span{
    font-family: "Inter-Medium";
    font-size: 12px;
    color: var(--color-1); 
}
/*------------------------- div__perfiles ---------------------------*/
.div__perfiles{

}
.div__perfiles img{
    
}
/********************************************************************/
/*-------------------- section__DescriptionMid ---------------------*/
.section__DescriptionMid{

}
/*------------------------- div__descripcion -----------------------*/
.div__descripcion{

}
.div__descripcion span{
    font-family: "Inter-Medium";
    font-size: 14px;
    color: var(--color-1); 
}
.div__descripcion p{
    font-family: "DMSans-Regular";
    font-size: 12px;
    color: var(--color-6); 
}
.div__descripcion a{
    font-family: "DMSans-Regular";
    font-size: 14px;
    color: var(--color-5); 
}
/********************************************************************/
/*-------------------- section__VenueLocation ----------------------*/
.section__VenueLocation{

}
/*---------------------- div__VenueLocation ------------------------*/
.div__VenueLocation{

}
.div__VenueLocation span{
    font-family: "Inter-Medium";
    font-size: 14px;
    color: var(--color-1); 
}
.div__VenueLocation img{

}
/********************************************************************/
/*-------------------- section__BuyTicket --------------------------*/
.section__BuyTicket{

}
/*------------------------ div__BuyTicket --------------------------*/
.div__BuyTicket{

}
.div__BuyTicket a{
    font-family: "Inter-Medium";
    font-size: 14px;
    color: var(--color-2); 
}
/*------------------------ div__BuyTicket --------------------------*/
.div__Startfrom{

}
.div__Startfrom span{
    font-family: "Inter-Regular";
    font-size: 10px;
    color: var(--color-1); 
}
.div__Startfrom p{
    font-family: "Inter-SemiBold";
    font-size: 16px;
    color: var(--color-1); 
}