<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style-Detail.css">
    <title>Detail</title>
</head>
<body>
    <main class="main">
        <section class="section__infoSup">
            <div class="div__imginfoSup">
                <img src="../storage/img-Detail/Rectangle.png">
            </div>
            <a href="#" id="iconNext">
                <img src="../storage/img-Detail/Left-Icon.png">
            </a>
            <div class="div__infoSup">
                <div class="div__eventInfo">
                    <h3>Coldplay<a href="#">: Music of the Spheres</a></h3>
                    <div class="div__location">
                        <img src="../storage/img-Detail/Location.svg">
                        <p>Gelora Bung Karno Stadium, Jakarta</p>
                    </div>
                    <div class="div__date">
                        <img src="../storage/img-Detail/Calender.svg">
                        <p>November 15 2023</p>
                    </div>
                </div>
                <div class="div__Participants">
                    <div class="div__perfiles">
                        <img src="../storage/img-Detail/Perfil1.png">
                        <img src="../storage/img-Detail/Perfil2.png">
                        <img src="../storage/img-Detail/Perfil3.png">
                    </div>
                    <div class="div__span">
                        <span>50K+ Participants</span>
                    </div>
                </div>
            </div>
        </section>
        <section class="section__DescriptionMid">
            <div class="div__descripcion">
                <span>Description</span>
                <p>Integer id augue iaculis, iaculis orci ut, blandit quam. Donec in elit auctor, finibus quam in, phar. Proin id ligula dictum, covalis enim ut, facilisis massa. Mauris a nisi ut sapien blandit imperdi. Interdum et malesuada fames ac ante ipsum primis in faucibs. Sed posuere egestas nunc ut tempus. Fu ipsum dolor sit amet. <a href="#">Read More..</a></p>
            </div>
        </section>
        <section class="section__VenueLocation">
            <div class="div__VenueLocation">
                <span>Venue & Location</span>
                <img src="../storage/img-Detail/MapsicleMap.png">
            </div>
            <div class="div__BuyTicket">
                <div class="div__Startfrom">
                    <samp>Start from</samp>
                    <h3>IDR1.100.000</h3>
                </div>
                <div class="div__ButonBuyTicket">
                    <a href="#">Buy Ticket</a>
                </div>
            </div>
        </section>
    </main>
</body>
</html>