<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style-Tickets.css">
    <title>Document</title>
</head>
<body>
    <header class="header">
        <div class="div__header">
            <a href="#"><img src="../storage/img-Tickets/Icon-arrow.png"></a>
            <img src="../storage/img-Tickets/Icon-Menu.png">
        </div>
    </header>
    <main class="main">
        <section class="section__TicketRoulette">
            <div class="div__Roulette">
                <div class="div__Ticket1">
                    <div class="div__TicketSup1">
                        <div class="div__imgEvent">
                            <img src="../storage/img-Tickets/Rectangle.png">
                        </div>
                        <div class="div__InfoEvent">
                            <div class="div__basicInfo">
                                <h3>Coldplay : Music of the Spheres</h3>
                                <p>Nov 15 2023 ~ Gelora Bung Karno Stadium, Jakarta</p>
                            </div>
                            <div class="div__completInfo">
                                <div class="div__name-order">
                                    <div class="name1">
                                        <span>Name</span>
                                        <h3>Indriyani Puspita</h3>
                                    </div>
                                    <div class="order2">
                                        <span>Order Number</span>
                                        <h3>CLD09738PL</h3>
                                    </div>
                                </div>
                                <div class="div__date-time">
                                    <div class="name2">
                                        <span>Date</span>
                                        <h3>Nov 15 2023</h3>
                                    </div>
                                    <div class="order2">
                                        <span>Time</span>
                                        <h3>9:00 PM</h3>
                                    </div>
                                </div>
                                <div class="div__Gate-Seat">
                                    <div class="Gate">
                                        <span>Gate</span>
                                        <h3>Yellow</h3>
                                    </div>
                                    <div class="Seat">
                                        <span>Seat</span>
                                        <h3>West B</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="div__Ticketdotted1">
                        <div class="div__dotted-line">
                            <div id="left"></div>
                            <div class="div__dotted">
                                <div id="sup"></div>
                                <div id="inf"></div>
                            </div>
                            <div id="right"></div>
                        </div>
                    <div class="div__TicketInf1">
                        <div class="div__bar-code">
                            <img src="../storage/img-Tickets/Bar-code.png">
                            <p>Scan your barcode at the entry gate.</p>
                        </div>
                    </div>                
                        <!-- <img src="../storage/img-Tickets/dotted-line.png"> -->
                    </div>
                </div>
                <!-- <div class="div__Ticket2">
                    
                </div> -->
            </div>
        </section>
    </main>
    
</body>
</html>